@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    --primary-color: #ef4444;
    --lighter-color: #f87171;
    --lightest-pink: #fef2f2;
    --lighter-pink: #fecaca;
    --normal-red: #dc2626;
    --deepest-red: #991b1b;
    --dark: #3f3f46;
}

.announcements {
    display: grid;
    gap: 20px;
    background-color: var(--dark);
    padding: 20px;
}

.announcement-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.announcement-text {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 11fr;
}

.dashboard {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--deepest-red);
    padding: 30px;
    color: white;
}

.dashboard img {
    width: 20px;
}

img.icon {
    height: 20px;
}

.dashboard li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    grid-column: 2/4;
    background-color: var(--primary-color);
    padding: 20px;
    color: white;
}

.top-section {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-section li {
    padding: 8px 25px;
    background-color: var(--deepest-red);
    border-radius: 7px;
}

.bottom-section ul {
    display: flex;
    gap: 20px;
}

.dashboard-logo {
    font-weight: 600;
    font-size: 25px;
}
.projects-section {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2/3;
    gap: 40px;
    background-color: var(--dark);
}

.project-card {
    background-color: var(--lighter-color);
    text-align: center;
    display: inline-block;
    padding: 30px;
    border-radius: 7px;
    color: white;
}

.project-card:hover {
    border: 2px solid #a4d5ff;
    box-shadow: 2px 2px grey;
}

li {
    list-style: none;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#FFFF00;
    height: 1px;
  }

  .search {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .searchbar {
    min-width: 250px;
  }

  .character {
    display: inline;
    aspect-ratio: 1/1;
    height: 55px;
    border-radius: 50%;
  }

  .left-section {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .user-info {
    font-weight: 600;
    font-weight: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .announcement-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    gap: 10px;
  }

  .project-image {
    max-width: 80%;
  }

  .demo-link {
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: var(--dark);
    border-radius: 8px;
    margin: 10px;
  }